/*BOTÃO*/
#btn-registrar-ponto {
    font-size: 1.5rem;
    padding: 30px 90px;
    border: 0px;
    color: #fff;
    background-color: #4070f4;
    border-radius: 5px;
    font-family: 'Bebas Neue', sans-serif;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#select-tipos-ponto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 1px;
}



/*BOTÃO FECHAR*/
#btn-dialog-fechar {
    padding: 10px;
    font-size: 16px;
    border: none;
    color: rgb(236, 26, 26);
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    position: absolute;
}



/*BOTÃO PRINCIPAL*/
#btn-dialog-registrar-ponto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#btn-registrar-ponto:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #4070f4;
    background-color: rgb(0, 0, 155);
}



/*DATA E HORA*/
.data-hora {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.data-hora p {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}